<!DOCTYPE html>
<html>
<head>
<title>Results:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Hello Spring Boot!</p>
	<h1 th:text="${test}"></h1>
	<table>
		<tr th:each="cust : ${customers}">
			<td th:text="${cust.firstName}">Onions</td>
			<td th:text="${cust.lastName}">2.41</td>
		</tr>
	</table>
</body>
</html>