<div class="material-table" th:fragment="materials-list">
	<div class="row">
		<div class="col-sm-offset-6 col-sm-2">
			<input type="text" ng-model="constrDetailsCtrl.searchMaterial"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<table class="table table-striped">
				<colgroup>
					<col class="col-md-2" />
					<col class="col-md-4" />
					<col class="col-md-2" />
				</colgroup>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tr dir-paginate="material in filteredPersons=(constrDetailsCtrl.materials |filter: constrDetailsCtrl.searchMaterial) | itemsPerPage:5">
					<td>{{ material.name}}</td>
					<td>{{ material.description }}</td>
					<td>{{ material.totalPrice }}</td>
				</tr>
				<tfoot>
					<tr>
						<td>Total:</td>
						<td>{{constrDetailsCtrl.calculateMaterialsCost(filteredPersons)}}</td>					
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="row">
			<div class="col-sm-8">
				<div class="text-center">
					<dir-pagination-controls class="centered" max-size="5" direction-links="true" boundary-links="false" > </dir-pagination-controls>
				</div>
	  	</div>
		</div>
</div>

<div class="container" th:fragment="material-create">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10 top30">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-2" for="name" th:text="#{pages.constructions.constructiondetails.tabs.materials.name}">Denumire </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="name" ng-model="constrDetailsCtrl.newMaterial.name" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="name" th:text="#{pages.constructions.constructiondetails.tabs.materials.description}">Description </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="phone" ng-model="constrDetailsCtrl.newMaterial.description" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="name" th:text="#{pages.constructions.constructiondetails.tabs.materials.aquisitionDate}">Aquisition date </label>
							<div class="col-sm-4">
								<textarea type="text" class="form-control" id="phone" ng-model="constrDetailsCtrl.newMaterial.details" ></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="unit-measure" th:text="#{pages.constructions.constructiondetails.tabs.materials.unitmeasure}">Unit measure </label>
							<div class="col-sm-4">
								<select type="text" class="form-control" id="unit-measure"
									ng-model="constrDetailsCtrl.newMaterial.unitMeasure" 
									ng-options="unitMeasure as unitMeasure.name for unitMeasure in constrDetailsCtrl.unitmeasures" >
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="unit-price" th:text="#{pages.constructions.constructiondetails.tabs.materials.unitprice}">Unit price </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="unit-price" ng-model="constrDetailsCtrl.newMaterial.unitPrice" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="quantity" th:text="#{pages.constructions.constructiondetails.tabs.materials.quantity}">Quantity </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="quantity" ng-model="constrDetailsCtrl.newMaterial.quantity" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="quantity" th:text="#{pages.constructions.constructiondetails.tabs.materials.totalCost}">Total cost </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="quantity" ng-model="constrDetailsCtrl.newMaterial.totalPrice" />
							</div>
						</div>
						<div class="form-group">																																																																																																																																																																																																																																																																																																																																																																																																																																																					
							<div class="col-sm-offset-2 col-sm-2">
								<button type="button" class="btn btn-primary" ng-click="constrDetailsCtrl.createMaterial()" th:value="#{pages.constructions.create.button}">Create</button>
							</div>
						</div>
					</form>
			</div>
		</div>
</div>