<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="constrApp">
<head>
<title>Results:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/construct.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-1.5.0.js}"></script>
<script type="text/javascript" th:src="@{/js/constructions.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/bootstrap-3.3.6-dist/js/bootstrap.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/Smart-Table/dist/smart-table.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/angularUtils/src/directives/pagination/dirPagination.js}"></script>
	
	
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap-theme.css}" />
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body ng-controller="ConstrCtrl as constrCtrl">
	<script>
		
	</script>
	<div class="container">
		<div th:replace="includes/menu::main-menu"></div>
		<h1 th:text="${test}"></h1>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
			<table class="table table-responsive construction-table" data-st-table="constructions">
				<colgroup>
					<col class="col-md-8" />
					<col class="col-md-1" />
				</colgroup>
				<tr dir-paginate-start="construction in constrCtrl.constructions | itemsPerPage:10" ng-class-odd="'row-odd'" ng-class-even="'row-even'" class="construction-row" >
					<td><a ng-href="/constructions/details?id={{construction.id}}">{{construction.name}}</a></td>
					<td><button data-toggle="collapse"
							data-target="{{'#construction-details-'+construction.id}}">+</button></td>
				</tr>
				<tr id="{{'construction-details-'+construction.id}}" class="collapse" dir-paginate-end="">
					<td colspan="2">
						<div>
							<dl>
								<dt th:text="#{pages.constructions.create.name}">Name</dt>
							  <dd>{{construction.name}}</dd>
							  <dt th:text="#{pages.constructions.create.description}"> Descripton </dt>
								<dd> {{ construction.description }}</dd>
							</dl>
							<dl class="">
								<dt th:text="#{pages.constructions.list.owner}">Owner</dt>
							  <dd>{{construction.owner.name}}</dd>
								<dt th:text="#{pages.constructions.list.address}"> Address </dt>
								<dd> {{ construction.address.address }}</dd>
								<dt th:text="#{pages.constructions.list.city}"> City </dt>
								<dd> {{ construction.address.city }}</dd>
							</dl>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="text-center"><dir-pagination-controls class="centered" max-size="5" direction-links="true" boundary-links="false" > </dir-pagination-controls>
				</div>
	  	</div>
		</div>
		
		<div class="row">
			<div class="col-md-offset-2 col-md-6 text-center">
				<button class="btn btn-default btn-lg btn-block"
					data-toggle="collapse" data-target="#construction-create">New
					Construction</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-10 top30">
				<div id="construction-create" class="collapse">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-2" for="name"
								th:text="#{pages.constructions.create.name}">Name </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="name"
									ng-model="constrCtrl.newConstruction.name" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="description">Description:</label>
							<div class="col-sm-4">
								<textarea class="form-control" id="description"
									ng-model="constrCtrl.newConstruction.description"> </textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="owner"
								th:text="#{pages.constructions.create.owner}">Owner </label>
							<div class="col-sm-4">
								<select type="text" class="form-control" id="owner"
									ng-model="constrCtrl.newConstruction.owner" 
									ng-options="owner as owner.name for owner in constrCtrl.owners" >
								</select>
							</div>
							<div class="col-sm-1">
								<a href="#" data-toggle="modal" data-target="#ownerModal">
									<i class="glyphicon glyphicon-plus-sign"></i>
								</a>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="address"
								th:text="#{pages.constructions.create.address}">Address </label>
							<div class="col-sm-4">
								<textarea type="text" class="form-control" id="address"
									ng-model="constrCtrl.newConstruction.address.address" ></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="city"
								th:text="#{pages.constructions.create.address.city}">City </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="address"
									ng-model="constrCtrl.newConstruction.address.city" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="start-date"
								th:text="#{pages.constructions.create.startDate}">Start
								date </label>
							<div class="col-sm-4">
								<div class="input-group date" data-provide="datepicker-inline">
									<input id="start-date" type="datetime-local"
										class="form-control" ng-model="constrCtrl.newConstruction.startDate" />
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="start-date"
								th:text="#{pages.constructions.create.deadline}">Deadline </label>
							<div class="col-sm-4">
								<div class="input-group date" data-provide="datepicker-inline">
									<input id="start-date" type="datetime-local"
										class="form-control" ng-model="constrCtrl.newConstruction.deadline" />
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">																																																																																																																																																																																																																																																																																																																																																																																																																																																					
							<div class="col-sm-offset-2 col-sm-2">
								<button type="button" class="btn btn-primary btn-block" ng-click="constrCtrl.createConstruction()"
									th:value="#{pages.constructions.create.button}">
									Create</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="ownerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div th:include="includes/constructions/owner::owner-create">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
	</div>
</body>
</html>