<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Results:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/construct.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap-theme.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-1.5.0.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/bootstrap-3.3.6-dist/js/bootstrap.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/Smart-Table/dist/smart-table.js}"></script>
<script type="text/javascript" th:src="@{/js/construction-details.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/angularUtils/src/directives/pagination/dirPagination.js}"></script>
</head>

<body ng-app="constructionDetailsApp"
	ng-controller="constructionDetailsCtrl"
	th:attr="ng-init='init(\''+${construction.Id}+'\');'">


	<div class="container">
		<div th:replace="includes/menu::main-menu"></div>
		<div>
			<p th:text="${construction.name}"></p>
		</div>

		<div class="row">
			<div class="col-sm-11">
				<ul class="nav nav-pills navbar-right">
					<li class="active"><a data-toggle="pill" href="#tasks">Tasks</a></li>
					<li><a data-toggle="pill" href="#people">Pontaj</a></li>
					<li><a data-toggle="pill" href="#materials">Materiale</a></li>
				</ul>
			</div>
		</div>

		<div class="tab-content">
			<div id="tasks" class="tab-pane fade in active">
				<div class="row">
					<div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Description</th>
									</tr>
								</thead>
								<tr ng-repeat-start="task in construction.tasks">
									<td>{{ task.id }}</td>
									<td>{{ task.name }}</td>
									<td>{{ task.description }}</td>
									<td><a role="button" data-toggle="collapse"
										href="{{'#task-details-'+task.id}}" aria-expanded="false"
										aria-controls="collapseExample"><span
											class="glyphicon glyphicon-chevron-right"></span> </a></td>
								</tr>
								<tr id="{{'task-details-'+task.id}}" ng-repeat-end=""
									ng-show="taskTimekeeping[task.id].length>0" class="collapse">
									<td colspan="2"></td>
									<td>
										<dl>
										</dl>
										<table>
											<tr>
												<th>User</th>
												<th>Start time</th>
												<th>End time</th>
											</tr>
											<tr ng-repeat="timekeeping in taskTimekeeping[task.id]">
												<td>{{timekeeping.user.firstName +' ' +
													timekeeping.user.lastName }}</td>
												<td>{{timekeeping.startTime | date:'dd-MM HH:mm'}}</td>
												<td>{{timekeeping.endTime | date:'dd-MM HH:mm'}}</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6  col-xs-11">
					<div id="edit-task">
						<h1>Edit task</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-offset-2 col-sm-6">
						<button class="btn btn-default btn-lg btn-block"
							data-toggle="collapse" data-target="#task-create">New
							task</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-3 col-sm-8 top30">
						<div id="task-create" class="collapse">
							<form class="form-horizontal" role="form">
								<input type="hidden"
									ng-init="newTask.construction=$scope.construction"
									ng-model="newTask.construction" />
								<div class="form-group">
									<label class="control-label col-sm-2" for="name">Name </label>
									<div class="col-sm-4">
										<input id="name" class="form-control" type="text"
											ng-model="newTask.name" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2" for="description">Description
									</label>
									<div class="col-sm-4">
										<textarea id="description" class="form-control" type="text"
											ng-model="newTask.description"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-4">
										<button type="button" class="btn btn-primary"
											ng-click="createTask()" th:text="Create"></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="people" class="tab-pane fade">
				<div class="row">
					<div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
								</thead>
									<tr>
										<td>{{constructionTimekeping.id}}</td>
										<td>{{constructionTimekeping.startTime}}</td>
										<td>{{constructionTimekeping.endTime}}</td>
									</tr>
									<tr ng-repeat-end="">
									</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="materials" class="tab-pane fade" ng-controller="ConstrDetailsCtrl as constrDetailsCtrl" th:attr="ng-init='init(\''+${construction.Id}+'\');'">
				<h3>Menu 2</h3>
				<p>Some content in menu 2.</p>
			
			<div th:include="includes/constructions/materials::materials-list"></div>	
							
			<div class="row">
				<div class="col-sm-offset-2 col-sm-6 text-center">
					<button class="btn btn-default btn-lg btn-block"
						data-toggle="collapse" data-target="#material-create"> New material</button>
					</div>
			</div>
				
				<div id="material-create" class="collapse" th:include="includes/constructions/materials::material-create">
        </div>
			</div>
		</div>

	</div>
</body>
</html>