
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User create</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/construct.css}" />
</head>
<body>
	<div th:replace="includes/menu::main-menu"></div>
	<p>Hello Cosmin!</p>
	<form th:action="@{/constructions/task/create}" th:object="${task}"
		method="post">
		<table>
			<tr>
				<td><input type="text" th:field="*{name}" placeholder="Name" /></td>
			</tr>
			<tr>
				<td><textarea th:field="*{description}"
						placeholder="Description"></textarea></td>
			</tr>
			<tr>
				<td><select th:field="*{construction}">
						<option th:each="const : ${constructions}" th:value="${const.id}"
							th:text="${const.name}">Option</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" th:value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
