<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Spring Boot!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/construct.css}" />
</head>
<body>
	<p th:text="|'User succesfully created. User id: ' ${user.id}|"></p>
	<a th:href="@{/users}" th:text="'Back to users'"></a>
</body>
</html>