<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Results:</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/construct.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css" th:href="@{/css/users.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-1.5.0.js}"></script>
<script type="text/javascript" th:src="@{/js/users.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script type="text/javascript"
	th:src="@{/assets/bootstrap-3.3.6-dist/js/bootstrap.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/Smart-Table/dist/smart-table.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/construct.css"
	th:href="@{/assets/bootstrap-3.3.6-dist/css/bootstrap-theme.css}" />
</head>
<body ng-app="usersApp" ng-controller="usersCtrl">
<script>
</script>
	<div class="container">
		<div th:replace="includes/menu::main-menu"></div>
		<h1 th:text="${test}"></h1>
		<div class="row">
			<div class="col-sm-10">
				<table class="table table-striped table-responsive" st-table="users">
					<thead>
						<tr>
							<th th:text="#{contruct.pages.users.table.first_name}">First
								name</th>
							<th th:text="#{contruct.pages.users.table.last_name}">Last
								name</th>
							<th>Phone number</th>
							<th>Second phone</th>
							<th>City</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
							<td><a
							ng-href="/user/details?id={{user.id}}">{{ user.firstName}} </a></td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.phoneNumber }}</td>
							<td>{{ user.secondPhone }}</td>
							<td>{{ user.city }}</td>
							<td>{{ user.country }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-10 text-center">
					<button class="btn btn-default" data-toggle="collapse"
						data-target="#user-create" th:value="${'New user'}">New user</button>
				</div>
			</div>


			<div class="row">
				<div id="user-create" class="col-md-10 top30 collapse">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-2" for="first-name"
								th:text="${'First name'}">First name</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="first-name"
									ng-model="newPerson.firstName" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="last-name"
								th:text="${'Last name'}">Last name</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="last-name"
									ng-model="newPerson.lastName" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="phone"
								th:text="${'Phone'}">Phone</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="phone"
									ng-model="newPerson.phone" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="address"
								th:text="${'Address'}">Address</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="phone"
									ng-model="newPerson.address"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="city"
								th:text="${'City'}">City</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="city"
									ng-model="newPerson.city" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="country"
								th:text="${'Country'}">Country</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="country"
									ng-model="newPerson.country" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-6">
								<button type="button" class="btn btn-primary"
									ng-click="createPerson()" th:value="${'Create'}">
									Create</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		
		</div>
	</div>
</body>
</html>