<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="menu-container" th:fragment="main-menu1">
   <ul class="menu">
   	<li> <a th:href="@{/users}">Users</a></li>
   	<li><a th:href="@{/constructions}">Lucrari</a></li>
   	<li><a th:href="@{/timekeeping}" >Pontaj</a></li>
   	<li><a href="" >Inventar</a></li>
   </ul>
   <div class="logout">
   		<span> Log out </span>
   </div>
</div>


<nav class="navbar navbar-default navbar-fixed-top" th:fragment="main-menu">
	<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Cozma Construct</a>
    </div>
    <div class="collapse navbar-collapse navbar-default" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/constructions}">Constructions</a></li>
        <li><a th:href="@{/timekeeping}">Timekeeping</a></li> 
        <li><a >Inventar</a></li> 
        <li><a th:href="@{/users}">Users</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

</html>